body {
	
	  background:url(../img/bg.jpg) no-repeat center center fixed;

	  -webkit-background-size: cover;
	  -moz-background-size: cover;
	  -o-background-size: cover;
	  background-size: cover;
}

#app-container{

}

/* Styles on Modal Screen */
#modalscreen{
	background:#fff;
	color:black; position:fixed; top:0;  z-index:10; 

	height:280px; width:85%;
	padding:10px; margin:10% 0% 0% 2%;

	border-radius:15px;
	box-shadow:0px 0px 15px #555;
}

#modalscreen-title {
	color:white; position:fixed; z-index:12;
	background:#faa84e; width:91%;
	box-shadow:0px 0px 15px #555;
	padding:3% 0% 3% 0%; margin-left:-3%;

	font-size:1.4em;
}

#modalscreen-body {
	background:#ebf9fc;
	height:240px;

	position:relative; top:0;
}